<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>About</h1>
</div>

<img src="img/img1.jpg" alt="Image" height="316">

<p>Olalekan Alagbe</p>

<div class="pt-3">
    <p>My first full-stack application tutorial </p>

    <p>Check out my <a href="https://github.com/OlalekanAlagbe?tab=repositories">githup repository</a> for more projects</p>
</div>